.phone
  display: flex
  align-items: center
  &__tel
    display: flex
    align-items: center
    flex-shrink: 0
    margin-right: 100px
    font-size: 16px
    font-weight: 500
    color: #000
    +r(1200)
      margin-right: 50px
    +r(992)
      margin-right: 30px
  &__icon
    width: 24px
    height: 24px
    margin-left: 15px