.header
  &__top
    padding: 20px 0
    +r(1200)
      padding-left: 48px
    +r(767)
      padding: 10px 0 10px 48px
    .container
      display: flex
      align-items: center
  &__phone
    margin-left: auto
    margin-right: 95px
    +r(1200)
      margin-right: 50px
    +r(992)
      margin-right: 30px
    +r(767)
      margin-right: 0
      .phone
        &__tel
          display: none
  &__logo
    +r(767)
      max-width: 90px
  &__bottom
    padding: 20px 0
    background-color: #000
    +r(1200)
      padding: 0
  &__social
    +r(767)
      display: none