footer.footer
  .container
    a(href="./").logo.footer__logo
      img(src="static/images/general/logo.svg", width="130", alt="Я.Корона")
    .phone.footer__phone
      a(href="tel:88009999999").phone__tel 8800 999 99 99
        +icon('phone', 'phone__icon')
      a(href="#").phone__callback.btn.btn--red <span>Заказать</span> обратный звонок
    ul.social.footer__social
      li
        a(href="#", target="_blank")
          +icon('fb', 'social__icon')
      li
        a(href="#", target="_blank")
          +icon('vk', 'social__icon')
      li
        a(href="#", target="_blank")
          +icon('instagram', 'social__icon')