section.about#about
  .container
    .section-head
      h2.section-title Что такое Золотая Корона Яндекс.Такси
      p Корона, венчающая изображение водителя в приложении Таксометр — символ высокого статуса и приоритета при распределении работы. <br>Пассажиры больше доверяют «коронованным» водителям, а система отдает им предпочтение при передаче заказов.

    .about__wrap
      .about__container
        .about__img-wrap
          img(src="static/images/content/korona-interface.png", alt="")

        .about__content
          p <span>«Королевская»</span> иконка позволяет:
          ul
            li Увеличить плотность заказов
            li Снизить простои
            li Уменьшить холостой пробег
            li Зарабатывать в 2-3 раза больше, чем водители с более низкими статусами.

      img(src="static/images/content/about-car.png", alt="").about__float-img