section.advantages
  .container
    .section-head
      h2.section-title Как получить все преимущества <br>«Золотой Короны», не оклеивая автомобиль
      p С помощью специализированного оборудования компании Я.Корона дает возможность водителю из любого <br>населенного пункта России получить высокий статус не выходя из дома:

    .advantages-list
      .advantages-list__item
        .advantages-list__col
          .advantages-list__img-wrap
            img(src="https://via.placeholder.com/570x290")
        .advantages-list__col
          .advantages-list__content
            h3.advantages-list__title Оперативно
            p Забудьте про очереди и длительное ожидание! <br>Вы получите «Корону» в день обращения в компанию.
      .advantages-list__item
        .advantages-list__col
          .advantages-list__img-wrap
            img(src="https://via.placeholder.com/570x290")
        .advantages-list__col
          .advantages-list__content
            h3.advantages-list__title Дистанционно, онлайн
            p Вам не придется посещать офис и автомастерскую. <br>Все, что вам нужно — отправить фотографию своего автомобиля.
      .advantages-list__item
        .advantages-list__col
          .advantages-list__img-wrap
            img(src="https://via.placeholder.com/570x290")
        .advantages-list__col
          .advantages-list__content
            h3.advantages-list__title Надежно
            p Мы работаем без предоплаты — вы платите только <br>после того, как убедить в предоставлении статуса.
      .advantages-list__item
        .advantages-list__col
          .advantages-list__img-wrap
            img(src="https://via.placeholder.com/570x290")
        .advantages-list__col
          .advantages-list__content
            h3.advantages-list__title Удобно
            p Мы поможем не только получить, но и поддержать статус — просто обратитесь к нам и вам не придется каждые 10 дней отправлять фотоотчеты Яндекс.Такси. Мы будем делать это за вас!
      .advantages-list__item
        .advantages-list__col
          .advantages-list__img-wrap
            img(src="https://via.placeholder.com/570x290")
        .advantages-list__col
          .advantages-list__content
            h3.advantages-list__title Конфиденциально
            p Мы гарантируем, что ваша личная информация <br>ни при каких обстоятельствах не будет передана <br>третьим лицам.
      .advantages-list__item
        .advantages-list__col
          .advantages-list__img-wrap
            img(src="https://via.placeholder.com/570x290")
        .advantages-list__col
          .advantages-list__content
            h3.advantages-list__title Выгодно
            p Приведите друга и мы бесплатно <br>продлим вам статус!

    .text-center
      a(href="#").btn Хочу Корону!