section.branding
  .container
    h2.section-title Почему профессиональные водители  <br>не хотят брендировать свои автомобили

    .row.branding-list
      .col-md-6.col-lg-3
        .branding-list__item
          .branding-list__number
            span 1
          h3.branding-list__title Потеря времени
          p Вы вынуждены потратить как минимум один день на оклейку автомобиля, а потом каждые 10 дней фотографировать его и ожидать результатов фотопроверок.
      .col-md-6.col-lg-3
        .branding-list__item
          .branding-list__number
            span 2
          h3.branding-list__title Потеря заработка
          p Оклеив личный автомобиль символикой Яндекс.Такси вы лишаете себя возможности сотрудничать с другими компаниями.
      .col-md-6.col-lg-3
        .branding-list__item
          .branding-list__number
            span 3
          h3.branding-list__title Лишнее неудобство
          p На виниловой пленке скапливается большое количество пыли и грязи, но мыть автомобиль можно будет только в бесконтактной мойке, а про полировку кузова придется вообще забыть.
      .col-md-6.col-lg-3
        .branding-list__item
          .branding-list__number
            span 4
          h3.branding-list__title Вред автомобилю
          p Наклейка пленки и ее последующий демонтаж наносят вред ЛКП кузова автомобиля.