section.cta
  .container
    .section-head
      h2.section-title Хватит стоять в хвосте очереди!
      p Получайте лучшие заказы и зарабатывайте в 2-3 раза больше коллег!

    a(href="#").btn Получить Корону

.cta-bottom
  .container
    p Я.Корона: мы работаем, чтобы вы зарабатывали