section.difficult#difficult
  .container
    h2.section-title Почему получить Золотую Корону было сложно

    .difficult__text
      p Обычно для получения статуса необходимо пройти процедуру брендирования автомобиля по всем правилам Яндекс.Такси, а потом каждые 10 дней присылать фотоподтверждение наличия:

    .difficult-car
      img(src="static/images/content/difficult-car.jpg", alt="")
      .difficult-car__item
        p.difficult-car__title
          span.difficult-car__title-desktop Наклейка на заднее <br>стекло
          span.difficult-car__title-mob 1
        span.difficult-car__dot
      .difficult-car__item
        p.difficult-car__title
          span.difficult-car__title-desktop Шашечки
          span.difficult-car__title-mob 2
        span.difficult-car__dot
      .difficult-car__item
        p.difficult-car__title
          span.difficult-car__title-desktop Стикер «0+»
          span.difficult-car__title-mob 3
        span.difficult-car__dot
      .difficult-car__item
        p.difficult-car__title
          span.difficult-car__title-desktop Желто(бело)-черная <br>лиарея
          span.difficult-car__title-mob 4
        span.difficult-car__dot
      .difficult-car__item
        p.difficult-car__title
          span.difficult-car__title-desktop Госномер
          span.difficult-car__title-mob 5
        span.difficult-car__dot
      .difficult-car__item
        p.difficult-car__title
          span.difficult-car__title-desktop Логотип
          span.difficult-car__title-mob 6
        span.difficult-car__dot
      .difficult-car__item
        p.difficult-car__title
          span.difficult-car__title-desktop Номер телефона
          span.difficult-car__title-mob 7
        span.difficult-car__dot
      .difficult-car__item
        p.difficult-car__title
          span.difficult-car__title-desktop Красное зеркало
          span.difficult-car__title-mob 8
        span.difficult-car__dot
      .difficult-car__item
        p.difficult-car__title
          span.difficult-car__title-desktop Шашечки
          span.difficult-car__title-mob 2
        span.difficult-car__dot

    ol.difficult-car-list
      li Наклейка на заднее стекло
      li Шашечки
      li Стикер «0+»
      li Желто(бело)-черная лиарея
      li Госномер
      li Логотип
      li Номер телефона
      li Красное зеркало

    .difficult__note
      p Требования к автомобилю и его внешнему виду очень строгие  — при минимальных отклонениях от стандарта получить «Золотую Корону» невозможно.