section.hero
  .container
    h1.hero__title Получите золотую Корону Яндекс.Такси <br>в течение часа /1 дня/ в любом регионе РФ
    .hero-advantages
      .hero-advantages__item
        p Без оклейки
      .hero-advantages__item
        p Дистанционно
      .hero-advantages__item
        p Без предоплаты
      .hero-advantages__item
        p С возможностью продления без вашего участия

    .hero__row
      .hero__img-wrap
        img(src="static/images/content/hero-car.png", alt="")

      .hero__cta
        p Получайте приоритетные заказы и зарабатывайте <br>в 2-3 раза больше уже завтра!
        a(href="#").btn.btn--black.request_open Получить Золотую Корону