section.how-work
  .container
    h2.section-title Как начать зарабатывать <br>в 2 раза больше уже завтра

    .how-work-list
      .how-work-list__item
        .how-work-list__number 1
        .how-work-list__content
          p Подайте заявку на получение статуса «Золотая корона» в сервис Яндекс.Такси
      .how-work-list__item
        .how-work-list__number 2
        .how-work-list__content
          p Перешлите фото своего автомобиля специалистам Я.Корона
      .how-work-list__item
        .how-work-list__number 3
        .how-work-list__content
          p Получите «Золотую Корону».

    .how-work-list.how-work-list--second
      .how-work-list__item
        .how-work-list__number 4
        .how-work-list__content
          p Произведите оплату
      .how-work-list__item
        .how-work-list__number 5
        .how-work-list__content
          p Каждые 10 дней получайте подтверждение успешного прохождения фотоконтроля
      .how-work-list__item
        .how-work-list__number 6
        .how-work-list__content
          p Зарабатывайте в 2 раза больше, <br>чем сейчас!