section.numbers
  .container
    h2.section-title Я.Корона в цифрах

    .numbers-list
      .numbers-list__item
        h3.numbers-list__title <span>2 года</span>
        p успешной работы на рынке
      .numbers-list__item
        h3.numbers-list__title <span>1 000+</span> <br><span>водителей,</span>
        p уже получивших привилегированный статус
      .numbers-list__item
        h3.numbers-list__title <span>0 блокировок</span>
        p за все время работы сервиса/за последние 24 месяца