section.offer
  .container
    .offer__content
      h2 Специальное предложение!
      p Подключитесь к таксопарку Я.Корона и получите дополнительную скидку <span>500 рублей на статус</span> «Золотая корона».
      a(href="#").btn.btn--white.offer_open Подключиться к таксопарку
  .offer__image
    img(src="static/images/general/offer-car.jpg", alt="")