section.pluses
  .container
    h2.section-title Что вы получите, обратившись в Я.Корона

    .pluses__container
      .pluses__inner.clearfix
        ul
          li Приоритет при передаче заказов
          li Заявки с повышенным тарифным планом
          li Право обслуживать корпоративных клиентов
          li Доступ в закрытый канал мессенджера WhatsApp для мгновенной связи со службой поддержки и оперативного получения квалифицированной помощи в сложных ситуациях
          li Доверие пассажиров
          li Снижение комиссии Яндекс

        a(href="#").btn.btn--black Увеличение дохода
      img(src="static/images/general/pluses-car.png").pluses__float-img